  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #8064A2;
    cursor: pointer;
    border-radius: 50%;
  }